[mysqld]
port = 5400

# transaction-isolation = SERIALIZABLE

# Reduce the memory usage for some buffers
key_buffer_size = 8M
query_cache_size = 1M
query_cache_limit = 512K
thread_stack = 192K
thread_cache_size = 8

# InnoDB settings
innodb_buffer_pool_size = 64M
innodb_log_buffer_size = 8M
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0

# Temporarily disable performance schema
performance_schema = OFF